 
 body {
     background-color: blue;
 }

 .bloco {
     background-color: gray;
     margin-right: 1200px;
     box-shadow: rgb(0, 0, 0) 0px 0px 10px
 }

 .tudo {
     margin-left: 300px;
     margin-top: 300px;
     display: flex;

 }
.principal{
  text-align: center;
}


 .direito {
     background-color: gray;
 }

 .sub {
     color: white;
     margin-left: 30px;
 }

 .dados {
     margin-left: 110px;
     font-size: large;
 }

 .cadastrar {
     display: flex;
     margin-right: 120px;
 }

 .cadastrar button {
     background-color: gray;
     color: white;
     border: 0px solid;
     width: 120px;
     height: 40px;
     box-shadow: white 0px 0px 10px;
     border-radius: 5px;
     margin-left: 100px;
     margin-top: 10px;
     margin-left: 100px;
 }

 .cadastrar button:hover {
     width: 140px;
     height: 45px;
     box-shadow: green 0px 0px 10px;
 }

 .entrar button {
     background-color: blue;
     color: white;
     border: 0px solid;
     width: 100px;
     height: 45px;
     box-shadow: white 0px 0px 10px;
     border-radius: 5px;
     margin-left: 80px;
     margin-bottom: 50px;
 }

 .entrar button:hover {
     width: 140px;
     height: 45px;
     box-shadow: green 0px 0px 10px;
 }

 .esqueceu button {
     background-color: gray;
     color: white;
     border: 0px solid;
     width: 120px;
     height: 40px;
     box-shadow: white 0px 0px 10px;
     border-radius: 5px;
     margin-left: 250px;
     margin-top: 0px;
     justify-content: baseline;
     text-align: right;

 }

 .esqueceu button:hover {
     width: 140px;
     height: 45px;
     box-shadow: green 0px 0px 10px;
 }

 .titulo {
     margin-left: 125px;
     color: white;
 }

 .esqueceu {
     margin-bottom: 5px;
 }